version: '3.3'
services:
  app:
    build:
     context: .
    depends_on:
      - mysqldb
    ports:
      - 8080:8080
    environment:
      DB_HOST: mysqldb
      DB_PORT: 3306
      DB_DATABASE: 'db'
      DB_USERNAME: 'user'
      DB_PASSWORD: 'password'
      
  mysqldb:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
volumes:
 my-db:
  